body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.org img{
    border: 8px solid black;
    border-radius: 35px;
}
.org{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.org b{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

@media (max-width:500px) {
    .org{
        width: 100%;
    }
}





